<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>600173536658-713afedo6i9unvjk83puf8ajb4o4vt6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600173536658-713afedo6i9unvjk83puf8ajb4o4vt6v</string>
	<key>API_KEY</key>
	<string>AIzaSyDHsTb3Jhhe2KsOVRRRvfRlRfMo6CDf-Ac</string>
	<key>GCM_SENDER_ID</key>
	<string>600173536658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IdanOmer.Travelers</string>
	<key>PROJECT_ID</key>
	<string>travelers-b2bd8</string>
	<key>STORAGE_BUCKET</key>
	<string>travelers-b2bd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600173536658:ios:78623dbaec9fbc50</string>
	<key>DATABASE_URL</key>
	<string>https://travelers-b2bd8.firebaseio.com</string>
</dict>
</plist>